@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
html {
  line-height: 1.2;
  height: 100%;
}

body {
  font-family:'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: #0f0f0f;
  color: white;
}
