@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
html {
  line-height: 1.2;
  height: 100%;
  overflow: visible !important;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

@media screen and (min-width: 1536px) {
  body {
    overflow-y: auto !important;
  }
}

.swiper-pagination-bullets {
  display: none;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0f0f0f7b;
  height: 100%;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
  height: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #272727;
  height: 5px;
}

.sidebar-overlay {
  width: calc(100% - 176px);
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .sidebar-overlay {
    width: calc(100% - 208px);
  }
}

@media screen and (min-width: 768px) {
  .sidebar-overlay {
    width: calc(100% - 256px);
  }
}

/* Custome emoji */
.epr-header-overlay.Flex.FlexRow {
  display: none;
}
.__EmojiPicker__.epr-emoji-img {
  width: 35px;
  height: 35px;
}
.Flex.epr-preview.FlexRow {
  display: none;
}

/* Custom animation text */
.dynamic {
  position: relative;
}
.dynamic::after {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  border-left: 2px solid #fc6d6d;
  animation: typing 1.5s steps(10) infinite;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 20px;
  }
}

/* table */
td,
th {
  text-align: center;
  padding: 8px;
}

/* editor */

.ql-light .ql-editor {
  background-color: #f3f3f3;
  color: #000;
  height: 200px;
}

.ql-light .ql-toolbar {
  background-color: #f3f3f3;
  color: #000;
}

.ql-dark .ql-editor {
  background-color: #1e1e1e;
  color: #f1f1f1;
  height: 200px;
}

.ql-dark .ql-toolbar {
  background-color: #1e1e1e;
  color: #f1f1f1;
}

.ql-editor img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.skeleton-light {
  background-color: #e2e5e7;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  animation: shine 1s ease infinite;
}

.skeleton-dark {
  background-color: #0f0f0f;
  background-image: linear-gradient(90deg, rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.5), rgba(100, 100, 100, 0));
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  animation: shine 1s ease infinite;
}

@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}
