@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
html {
  line-height: 1.2;
  height: 100%;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: #0f0f0f;
  color: white;
}

.swiper-pagination-bullets {
  display: none;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0f0f0f7b;
  height: 100%;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
  height: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #272727;
  height: 5px;
}
